---
import { SEO } from "astro-seo";
import AboutMe from "../components/AboutMe.astro";
import BaseHead from "../components/BaseHead.astro";
import BlogCard from "../components/BlogCard.astro";
import Footer from "../components/Footer.astro";
import FullPageSlide from "../components/FullPageSlide.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION  } from "../consts";

import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((posts) =>
  posts
    .sort(
      (a, b) =>
        new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    )
    .slice(0, 3)
);

const dateOptions: object = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
---

<!doctype html>
<html lang="en" style="padding: 0px;">
  <head>
    <SEO
      title="Home"
      description="Deen Weible's homepage, with links to all of the goods"
      openGraph={{
        basic: {
          title: "Home - Weible.dev",
          type: "website",
          image: `${new URL("/HomePage.jpg", Astro.url)}`,
        },
      }}
    />
    <BaseHead title="Home - Weible.dev" description={SITE_DESCRIPTION} />
    <style>
      .blog-list {
        display: flex;
        justify-content: center;
        min-height: 420px;
        max-width: 100vw;
        flex-wrap: wrap;
        padding-bottom: 45px;
      }
      .blog-item {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 25px;
      }
    </style>
  </head>
  <body>
    <Header />
    <FullPageSlide />
    <!-- List of blog items -->
    <div class="blog-list">
      {
        posts.map((post) => (
          <div class="blog-item">
            <BlogCard
              title={post.data.title}
              link={`/blog/${post.id}`}
              description={`${post.data.description}`}
              heroImage={`${post.data.heroImage}`}
              updatedDate={`${new Date(post.data.pubDate).toLocaleDateString(
                "en-US",
                dateOptions
              )}`}
            ></BlogCard>
          </div>
        ))
      }
    </div>
    <AboutMe />
    <Footer />
  </body>
</html>
