---
import Photo from "./Photo.astro";

const { title, link, description, updatedDate, heroImage } = Astro.props;
---

<!-- Styles -->
<style>
header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.band {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* width: min(45rem, 90vw); */

  &:hover {
    top: -20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 1em;
    margin: 0;
    color: #333;
    height:50px;
    text-overflow: ellipsis;
    text-wrap: break-word;
    overflow: hidden;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }

  span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
	border-bottom: 3px solid var(--accent);
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.card-div {
  border-radius: 100px;
  height: 100%;
  min-width: min(300px, 95vw);
  width: min(calc(27.5rem + 0.5vw), 95vw);
  box-shadow: var(--box-shadow);
}
/* .card .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
} */

</style>

<!-- <script>
  async function supportsAvif() {
  if (!this.createImageBitmap) return false
  const avifData =
    'data:image/avif;base64,AAAAFGZ0eXBhdmlmAAAAAG1pZjEAAACgbWV0YQAAAAAAAAAOcGl0bQAAAAAAAQAAAB5pbG9jAAAAAEQAAAEAAQAAAAEAAAC8AAAAGwAAACNpaW5mAAAAAAABAAAAFWluZmUCAAAAAAEAAGF2MDEAAAAARWlwcnAAAAAoaXBjbwAAABRpc3BlAAAAAAAAAAQAAAAEAAAADGF2MUOBAAAAAAAAFWlwbWEAAAAAAAAAAQABAgECAAAAI21kYXQSAAoIP8R8hAQ0BUAyDWeeUy0JG+QAACANEkA='
  const blob = await fetch(avifData).then((r) => r.blob())
  return createImageBitmap(blob).then(
    () => true,
    () => false
  )
}

;(async () => {
  const classAvif = (await supportsAvif()) ? 'avif' : 'no-avif'
  document.body.classList.add(classAvif)
})()
</script> -->

<!-- HTML -->
<div class="card-div">
  <a href={`${link}`} class="card">
          {
            heroImage && (
              <Photo src={heroImage} alt={description}/>
            )
          }
    <article>
      <h1>{title}</h1>
      <span>{updatedDate}</span>
    </article>
  </a>
</div>
